<form class='card' [formGroup]='form'>
  <img src='assets\visa_logo.png' id='visa-logo'>
  <img src='assets\mastercard_logo.png' id='mc-logo'>
  <input id='card-number' class='form-control' formControlName='cardNumber' placeholder='Номер карты' [ngClass]="{'is-invalid': cardNumberInput.invalid, 'is-valid': cardNumberInput.valid}">
  <input id='date' class='form-control' formControlName='date' placeholder='ММ/ГГ' [ngClass]="{'is-invalid': dateInput.invalid, 'is-valid': dateInput.valid}">
  <input id='cvc' class='form-control' formControlName='cvc' placeholder='CVC' [ngClass]="{'is-invalid': cvcInput.invalid, 'is-valid': cvcInput.valid}">
</form>