<nav class='nav nav-tabs'>
    <a routerLink='payFromMaxticash' class='nav-item nav-link' routerLinkActive='active'>Заплатить из
        maxticash</a>
    <a routerLink='payFromOtherBank' class='nav-item nav-link' routerLinkActive='active'>Заплатить картой
        другого банка</a>
    <a routerLink='requestForPayment' class='nav-item nav-link' routerLinkActive='active'>Запросить платёж</a>
    <a routerLink='operations' class='nav-item nav-link' routerLinkActive='active'>Операции</a>
</nav>
<router-outlet></router-outlet>