<div class='pay-form'>
  <div class='pay-card'>
    <app-card [form]='cardForm'></app-card>
  </div>
  <form class='pay-extra form-group' [formGroup]='form'>
    <input placeholder='Сумма' class='form-control form-control-sm' formControlName='cash' name='cash' [ngClass]="{'is-invalid': cashInput.invalid, 'is-valid': cashInput.valid}">
    <input placeholder='Комментарий' class='form-control form-control-sm' formControlName='comment' name='comment' [ngClass]="{'is-invalid': commentInput.invalid, 'is-valid': commentInput.valid}">
    <input type='button' value='Заплатить' class='btn btn-outline-primary' (click)='submit()' [disabled]='cardForm.invalid || cashInput.invalid || commentInput.invalid'>
  </form>
</div>