<form class='pay-extra form-group' [formGroup]='form'>
  <input id='cash' class='form-control' formControlName='cash' placeholder='Сумма' [ngClass]="{'is-invalid': cashInput.invalid, 'is-valid': cashInput.valid}">
  <input id='comment' class='form-control' formControlName='comment' placeholder='Комментарий' [ngClass]="{'is-invalid': commentInput.invalid, 'is-valid': commentInput.valid}">
  <input type='button' value='Запросить' class='btn btn-outline-primary' (click)='submit()' [disabled]='cashInput.invalid || commentInput.invalid'>
</form>